body {
  background-color: rgb(187, 151, 222);
}

.container {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin: 30px auto;
  max-width: 600px;
}

h1 {
  line-height: 1.5;
  font-size: 50px;
  text-align: center;
  padding: 30px 0 0 0;
}

.searchFeild {
  line-height: 2;
  border-radius: 10px;
  border: none;
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
}

.generateButton {
  line-height: 2;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: rgb(103, 82, 122);
  transition: all 200ms ease-in-out;
}

.generateButton:hover {
  color: white;
  background-color: rgb(187, 151, 222);
}

.examples {
  line-height: 1.5;
  padding: 10px;
  text-align: left;
  padding-left: 85px;
  padding-bottom: 30px;
}
main {
  text-align: center;
  padding: 20px 0 0 0;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.aiPoem {
  padding: 30px 0;
  font-family: cursive;
  text-align: center;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin: 30px auto;
  max-width: 600px;
}

.aiPoem strong {
  color: rgb(103, 82, 122);
  font-style: italic;
}

.hidden {
  display: none;
}

footer {
  font-family: monospace;
  opacity: 0.9;
  font-size: 10px;
  padding: 20px;
}
